<presentations>
    <presentation>
        <id>01</id>
        <title>Everything about Pecha Kucha Nights</title>
        <presenter>Ivan Kornilov</presenter>
        <organization>Yaroslavl State University</organization>
    </presentation>
    <presentation>
        <id>02</id>
        <title>Something more about Pecha Kucha Nights</title>
        <presenter>Murad Yusufov</presenter>
        <organization>Yaroslavl State University</organization>
    </presentation>
</presentations>